<!DOCTYPE html>

<html>
<head>
</head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>API Used Darksky and Mapbox</p>
    </div>
    
    {{>footer}}


</body>


</html>